
@*@{
    ViewData["Title"] = "Blog";
}*@


<body>

    <!-- Header -->
    <header id="header">


        <!-- Page Header -->
        <div id="post-header" class="page-header">
            @*<div class="background-img" style="background-image: url('./img/post-page.jpg');"></div>*@
            <div class="container">
                <div class="row">
                    <div class="col-md-10">
                        <div class="post-meta">
                            @*<a class="post-category cat-2" href="category.html">JavaScript</a>*@
                            <span class="post-date">March 27, 2018</span>
                        </div>
                        <h1>Beauty Tips: Sự khác biệt giữa kem dưỡng da ban đêm và kem dưỡng da ban ngày</h1>
                    </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     
                </div>
            </div>
        </div>
        <!-- /Page Header -->
    </header>
    <!-- /Header -->
    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- Post content -->
                <div class="col-md-8">
                    <div class="section-row sticky-container">
                        <div class="main-post">
                            @*<h3>Lorem Ipsum: when, and when not to use it</h3>*@
                            <p>
                                Mỗi chúng ta đều sử dụng kem dưỡng da mỗi ngày. Có người thì dùng kem dưỡng đều đặn 2 lần mỗi ngày.
                                Có người thì chuộng dùng kem dưỡng ban đêm hơn ban ngày và ngược lại. Vậy sự khác biệt cơ bản của kem dưỡng ban đêm và kem dưỡng ban ngày là như thế nào.
                                Hãy cùng chúng tôi tìm hiểu sử khác nhau giữa hai loại kem này nhé.
                            </p>
                            <p>The toppings you may chose for that TV dinner pizza slice when you forgot to shop for foods, the paint you may slap on your face to impress the new boss is your business. But what about your daily bread? Design comps, layouts, wireframes—will your clients accept that you go about things the facile way? Authorities in our business will tell in no uncertain terms that Lorem Ipsum is that huge, huge no no to forswear forever. Not so fast, I'd say, there are some redeeming factors in favor of greeking text, as its use is merely the symptom of a worse problem to take into consideration.</p>
                            <figure class="figure-img">
                                <img class="img-responsive" src="~/Assets/img/post-7.jpg" alt="">
                                @*<figcaption>So Lorem Ipsum is bad (not necessarily)</figcaption>*@
                            </figure>
                            <h3>Kem dưỡng ẩm ban ngày có chứa thành phần chống nắng</h3>
                            <p>Không có gì quá ngạc nhiên khi các nàng tìm thấy các thành phần chống nắng trong các sản phẩm kem dưỡng da ban ngày. Đối với những cô nàng ngại ra nắng hay ra nắng ít thì đây là một phương pháp rất hiệu quả.</p>
                            <p>Nếu các nàng sử dụng quá nhiều kem chống nắng sẽ gây bí da và tắc nghẽn lỗ chân lông dẫn đến mụn và các vấn đề về da khác. Hầu hết các các dòng kem dưỡng ban ngày hiện nay đều được nhà sản xuất thêm chỉ số chống nắng SPF từ 15 trở lên.</p>
                            @*<blockquote class="blockquote">
            I’ve heard the argument that “lorem ipsum” is effective in wireframing or design because it helps people focus on the actual layout, or color scheme, or whatever. What kills me here is that we’re talking about creating a user experience that will (whether we like it or not) be DRIVEN by words. The entire structure of the page or app flow is FOR THE WORDS.
        </blockquote>*@
                            <figure class="figure-img">
                                <img class="img-responsive" src="~/Assets/img/post-8.jpg" alt="">
                                @*<figcaption>So Lorem Ipsum is bad (not necessarily)</figcaption>*@
                            </figure>
                            <h3>Kem dưỡng ẩm ban ngày có nhiều chất chống oxy hóa hơn kem dưỡng ban đêm</h3>
                            @*<h3>Summing up, if the copy is diverting attention from the design it’s because it’s not up to task.</h3>*@
                           
                            <p>Chất chống oxy hóa là thành phần chống oxy hóa được ưu tiên trong ấtm dưỡng da ban ngày. Nhiệm vụ của chất chống oxy hóa là bảo vệ làn da của nàng khỏi các tác nhân như khói bụi, ô nhiễm,…</p>
                            <p>Các nghiên cứu chỉ ra rằng, chất chống oxy hóa rất hữu ích khi sử dụng vào buổi sáng. Các chất chống oxy hóa thường được tìm thấy trong Vitamin C, Vitamin E và chiết xuất từ lá trà xanh từ trong kem dưỡng ban ngày. Các chất này sẽ giúp bảo vệ làn da của các nàng khỏi tia cực tím và các tác hại của môi trường.</p>
                            <p>Dù vậy thì trong kem dưỡng da ban đêm vẫn chứa chất chống oxy hóa nhé các nàng. Nhưng lượng thành phần sẽ ít hơn. Bởi vì ban đêm là thời điểm thích hợp cho việc tái tạo da hơn là bảo vệ da nên các dòng kem dưỡng ẩm ban đêm không quá đặt nặng chất chống oxy hóa.</p>
                        
                        
                        
                        </div>

                    </div>



                    <!-- author -->
                    @*<div class="section-row">
                        <div class="post-author">
                            <div class="media">
                                <div class="media-left">
                                    <img class="media-object" src="./img/author.png" alt="">
                                </div>
                                <div class="media-body">
                                    <div class="media-heading">
                                        <h3>John Doe</h3>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <ul class="author-social">
                                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>*@
                    <!-- /author -->




                </div>
                <!-- /Post content -->
                <!-- aside -->
                <div class="col-md-4">


                    <!-- post widget -->
                    <div class="aside-widget">
                        <div class="section-title">
                            <h2>Bài viết gần đây</h2>
                        </div>

                        <div class="post post-widget">
                            <a class="post-img" asp-action="Blog" ><img src="~/Assets/img/post-2.jpg" alt=""></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-action="Blog" >Cứ Nhắc Đến Etude House, Người Ta Nghĩ Ngay Đến Bảng Màu Mắt Nào?</a></h3>
                            </div>
                        </div>

                        <div class="post post-widget">
                            <a class="post-img" asp-action="Blog"><img src="~/Assets/img/post-3.jpg" alt=""></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-action="Blog">Top 4 Bảng Màu Mắt Must-Have Ngay Cho Makeup Look Tự Nhiên, Mơ Màng Siêu Xinh Chuẩn Gái Hàn</a></h3>
                            </div>
                        </div>

                        <div class="post post-widget">
                            <a class="post-img" asp-action="Blog"><img src="~/Assets/img/post-4.png" alt=""></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-action="Blog">Review: Bộ sưu tập son Black Rouge siêu xuất sắc cho môi nàng thêm xinh</a></h3>
                            </div>
                        </div>

                        <div class="post post-widget">
                            <a class="post-img" asp-action="Blog"><img src="./img/widget-5.jpg" alt=""></a>
                            <div class="post-body">
                                <h3 class="post-title"><a asp-action="Blog">Bôi Kem Chống Nắng Innisfree Tone Up Bao Nhiêu Là Đủ?</a></h3>
                            </div>
                        </div>
                    </div>
                    <!-- /post widget -->
                    <!-- post widget -->
                    @*<div class="aside-widget">
                        <div class="section-title">
                            <h2>Featured Posts</h2>
                        </div>
                        <div class="post post-thumb">
                            <a class="post-img" href="blog-post.html"><img src="./img/post-2.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-3" href="#">Jquery</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Ask HN: Does Anybody Still Use JQuery?</a></h3>
                            </div>
                        </div>

                        <div class="post post-thumb">
                            <a class="post-img" href="blog-post.html"><img src="./img/post-1.jpg" alt=""></a>
                            <div class="post-body">
                                <div class="post-meta">
                                    <a class="post-category cat-2" href="#">JavaScript</a>
                                    <span class="post-date">March 27, 2018</span>
                                </div>
                                <h3 class="post-title"><a href="blog-post.html">Chrome Extension Protects Against JavaScript-Based CPU Side-Channel Attacks</a></h3>
                            </div>
                        </div>
                    </div>*@
                    <!-- /post widget -->





                </div>
                <!-- /aside -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->
    <!-- jQuery Plugins -->
    <script src="~/blog/jquery.min.js"></script>
    <script src="~/blog/bootstrap.min.js"></script>
    <script src="~/blog/main.js"></script>

</body>


