@model NaturalCosmetics.Models.Cosmetics
@{
    ViewData["Title"] = "Details";
}
@*<div class="breadcumb_area">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <ol class="breadcrumb d-flex align-items-center">
                    <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                    <li class="breadcrumb-item"><a href="#">Dress</a></li>
                    <li class="breadcrumb-item active">Long Dress</li>
                </ol>
                btn
                <a href="#" class="backToHome d-block"><i class="fa fa-angle-double-left"></i> Trở về phân loại</a>
            </div>
        </div>
    </div>
</div>*@



<section class="single_product_details_area section_padding_0_100">
    <div class="container">
        <div class="row">

            <div class="col-12 col-md-6">
                <div class="single_product_thumb">
                    <div id="product_details_slider" class="carousel slide" data-ride="carousel">

                        <ol class="carousel-indicators">
                            <li class="active" data-slide-to="0" style="background-image: url('/images/upload/@Html.DisplayFor(model => model.Img)')">
                            </li>
                            <li data-slide-to="1" style="background-image: url('/images/upload/@Html.DisplayFor(model => model.Img)');" class="">
                            </li>
                            <li data-slide-to="2" style="background-image: url('/images/upload/@Html.DisplayFor(model => model.Img)');" class="">
                            </li>
                            <li data-slide-to="3" style="background-image: url('/images/upload/@Html.DisplayFor(model => model.Img)');" class="">
                            </li>
                        </ol>

                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <a class="gallery_img" href="~/images/upload/@Html.DisplayFor(model => model.Img)">
                                    <img class="d-block w-100" src="~/images/upload/@Html.DisplayFor(model => model.Img)" alt="First slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/images/upload/@Html.DisplayFor(model => model.Img)">
                                    <img class="d-block w-100" src="~/images/upload/@Html.DisplayFor(model => model.Img)" alt="Second slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/images/upload/@Html.DisplayFor(model => model.Img)">
                                    <img class="d-block w-100" src="~/images/upload/@Html.DisplayFor(model => model.Img)" alt="Third slide">
                                </a>
                            </div>
                            <div class="carousel-item">
                                <a class="gallery_img" href="~/images/upload/@Html.DisplayFor(model => model.Img)">
                                    <img class="d-block w-100" src="~/images/upload/@Html.DisplayFor(model => model.Img)" alt="Fourth slide">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-12 col-md-6">
                <div class="single_product_desc">

                    <h4 class="title"><a href="#">@Html.DisplayFor(model => model.Name)</a></h4>

                    <h4 class="price">@{var value = String.Format("{0,-5:N0}đ", Model.Price); }@value</h4>

                    <p class="available">Có sẵn: <span class="text-muted"></span></p>

                    <div class="single_product_ratings mb-15">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>


                    <form class="cart clearfix mb-50 d-flex" method="post">
                        @*<div class="quantity">
                            <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;"><i class="fa fa-minus" aria-hidden="true"></i></span>
                            <input type="number" class="qty-text" id="qty" step="1" min="1" max="12" name="quantity" value="1">
                            <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-plus" aria-hidden="true"></i></span>
                        </div>*@
                        <button type="submit" name="addtocart" value="5" class="btn cart-submit d-block">Thêm vào giỏ hàng</button>
                    </form>

                    <div id="accordion" role="tablist">
                        <div class="card">
                            <div class="card-header" role="tab" id="headingOne">
                                <h6 class="mb-0">
                                    <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">Thông tin</a>
                                </h6>
                            </div>

                            <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion" style="">
                                <div class="card-body">
                                    <p>@Html.DisplayFor(model => model.Detail)</p>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingTwo">
                                <h6 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Thông tin giỏ hàng</a>
                                </h6>
                            </div>
                            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion" style="">
                                @*<div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo quis in veritatis officia inventore, tempore provident dignissimos nemo, nulla quaerat. Quibusdam non, eos, voluptatem reprehenderit hic nam! Laboriosam, sapiente! Praesentium.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magnam laborum eaque.</p>
                                </div>*@
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" role="tab" id="headingThree">
                                <h6 class="mb-0">
                                    <a class="collapsed" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Va &amp; Returns</a>
                                </h6>
                            </div>
                            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion" style="">
                                @*<div class="card-body">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse quo sint repudiandae suscipit ab soluta delectus voluptate, vero vitae, tempore maxime rerum iste dolorem mollitia perferendis distinctio. Quibusdam laboriosam rerum distinctio. Repudiandae fugit odit, sequi id!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae qui maxime consequatur laudantium temporibus ad et. A optio inventore deleniti ipsa.</p>
                                </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>