
@{
    ViewData["Title"] = "Contact Us";
}
<h2>Liên Hệ</h2>
<p>Nếu có thắc mắc, đừng ngần ngại liên hệ với chúng tôi. Luôn sẵn lòng giải đáp cho bạn.</p>

<div>
    <span>
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </span>
    <email address="example@example.com" content="Send Email"></email>
</div>
