<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Xin chào, @(User.Identity.Name ?? "User")!
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @if (!User.Identity.IsAuthenticated)
        {
            <a asp-action="login" asp-controller="account" class="dropdown-item">Đăng nhập</a>
            <a asp-action="register" asp-controller="account" class="dropdown-item">Đăng ký</a>
        }
        else
        {
            <a asp-action="myOrder" asp-controller="order" class="dropdown-item">Đơn hàng của tôi</a>
            <form method="post" asp-action="logout" asp-controller="account" class="no-padding-margin dropdown-item">
                <button class="btn dropdown-item btn-no-effect">Đăng xuất</button>
            </form>

            if (User.IsInRole("Admin"))
            {
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" asp-area="Admin1" asp-action="Index1" asp-controller="Admin">Quản lý</a>
            }
        }
    </div>
