
<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Sản phẩm
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    <a class="dropdown-item" asp-controller="/cosmetics" asp-action="Makeup">Trang Điểm</a>
    <a class="dropdown-item" asp-controller="/cosmetics" asp-action="Skincare">Dưỡng da mặt</a>
    <a class="dropdown-item" asp-controller="/cosmetics" asp-action="Bodycare">Dưỡng da toàn thân</a>
    <a class="dropdown-item" asp-controller="/cosmetics" asp-action="Har">Chăm sóc tóc</a>
    <a class="dropdown-item" asp-controller="/cosmetics" asp-action="Perfume">Nước hoa</a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" asp-controller="/cosmetics" asp-action="">Tất cả</a>
</div>
