
@{
    ViewData["Title"] = "CheckoutComplete";
}
<h2>ĐƠN HÀNG ĐÃ ĐƯỢC TIẾP NHẬN</h2>

<p>Cảm ơn bạn đã đặt hàng. Chúng tôi sẽ liên hệ với bạn trong 1-2 ngày làm việc.</p>

<br />
<p>
    Bạn có muốn đặt hàng thêm không?
    <a href="/">Bấm vào đây</a>
</p>
<p>Or,</p>
<p>
    Kiểm tra thông tin đơn hàng
    <a href="/order/myOrder">Bấm vào đây</a>
</p>
